@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply border-border;
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  .section {
    @apply w-full h-screen pt-[60px] xl:pt-[120px];
  }

  .text-gradient {
    background: linear-gradient(91deg, #FFF 25.75%, #FA8CDA 70.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  html {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
    }
}
